nav {
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #161616;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #161616;
}

img {
    height: 75px;
    background-color: #161616;
}

.nav-links {
    display: flex;
    gap: 35px;
    background-color: #161616;
    padding: 10px;
    border-radius: 5px;
}

.nav-links a {
    color: #9B59B6;
    text-decoration: none;
}

.nav-links a:hover {
    color: #6F7DFF;
}

body {
    margin: 0;
    background-color: #161616;
    padding-top: 60px;
}