nav {
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #161616; /* Cor de fundo da navbar */
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Separa logo dos links */
    max-width: 1400px; /* Limite a largura máxima se necessário */
    margin: 0 auto; /* Centraliza a navbar */
    background-color: #161616;
}

img {
    height: 115px; /* Ajuste conforme necessário */
    background-color: #161616;
}

.nav-links {
    display: flex;
    gap: 35px; /* Espaçamento entre os links */
    background-color: #161616; /* Cor de fundo dos links */
    padding: 10px;
    border-radius: 5px; /* Arredonda os cantos se desejar */
}

.nav-links a {
    color: #9B59B6; /* Cor dos links */
    text-decoration: none;
}

.nav-links a:hover {
    color: #6F7DFF; /* Efeito ao passar o mouse */
}

body {
    margin: 0; 
    background-color: #161616; /* Cor de fundo do body */
    padding-top: 60px; /* Espaçamento para evitar sobreposição da navbar */
}
